<ng-container>
    <mat-sidenav-container class="example-container container" (backdropClick)="close('backdrop')" style="margin-top: 85px;">
        <mat-sidenav #sidenav (keyword.escap)="close('escap')" disableClose>
            <p>
                <button mat-button (click)="close('toggle button')">Toggle</button>
            </p>
        </mat-sidenav>

        <mat-sidenav-content>
            <p>
                <button mat-button (click)="sidenav.open()">Open</button>
            </p>
            <p>
                Close due to reason: {{reson}}
            </p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>