<div class="container">
    <mat-card class="example-card mt-3">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Jethalal Gada</mat-card-title>
            <mat-card-subtitle>Goali bete Masti nai</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/jethalal.jpg" alt="King of Comedi">
        <mat-card-content>
            <p>
                Dilip Joshi started his acting career in 1989, playing the character of Ramu in the film Maine Pyar Kiya. Later, 
                he appeared in several Gujarati dramas, one of them being Bapu Tame Kamaal Kari with Sumeet Raghavan and Amit Mistry, 
                the trio known for their television show Shubh Mangal Savadhan. Joshi starred in the show Yeh Duniya Hai Rangeen and 
                Kya Baat Hai in which he played a South Indian. He also appeared in the films Phir Bhi Dil Hai Hindustani and 
                Hum Aapke Hain Koun..
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>