<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" >Angular Examples</a> -->
        <a class="navbar-brand"><img src="assets/download.png" alt="" height="50" style="border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/newHome" routerLinkActive="active">New Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Auto Complete Examples
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="hightlight" routerLinkActive="active">HighLighter</a></li>
                        <li><a class="dropdown-item" routerLink="display" routerLinkActive="active">Display</a></li>
                        <li><a class="dropdown-item" routerLink="filter" routerLinkActive="active">Filter</a></li>
                        <li><a class="dropdown-item" routerLink="stateGropu" routerLinkActive="active">Option</a></li>
                        <li><a class="dropdown-item" routerLink="overview" routerLinkActive="active">Overview</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="badge" routerLinkActive="active">Badge</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Button Examples
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="bottomSheet" routerLinkActive="active">ButtonSheet</a></li>
                        <li><a class="dropdown-item" routerLink="bottomView" routerLinkActive="active">ButtonView</a></li>
                        <li>
                            <a class="dropdown-item"> Buutton Examples &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li><a class="dropdown-item" routerLink="bottomToggle" routerLinkActive="active">ButtonToggle</a></li>
                                <li><a class="dropdown-item" routerLink="buttonExclusive" routerLinkActive="active">Button Exclusive</a> </li>
                                <li><a class="dropdown-item" routerLink="buttonToggleForm" routerLinkActive="active">Button Toggle Form</a></li>
                                <li><a class="dropdown-item" routerLink="buttonSelectionMode" routerLinkActive="active">Button Selection Mode</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cards Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="cardAction" routerLinkActive="active">Card Actions</a></li>
                        <li><a class="dropdown-item" routerLink="cardMultiple" routerLinkActive="active">Card Multiple Selection</a></li>
                        <li><a class="dropdown-item" routerLink="cardFooter" routerLinkActive="active">Card Footer</a></li>
                        <li><a class="dropdown-item" routerLink="cardMediaSize" routerLinkActive="active">Card Media Size</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CheckBox Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="checkboxConfigurable" routerLinkActive="active">CheckBox Configrable</a></li>
                        <li><a class="dropdown-item" routerLink="checkboxBasicExample" routerLinkActive="active">CheckBox Basic</a></li>
                        <li><a class="dropdown-item" routerLink="checkboxReactiveForm" routerLinkActive="active">CheckBox Reactive Form</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chips Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="chipsAutocomplete" routerLinkActive="active">Chips Autocomplete</a></li>
                        <li><a class="dropdown-item" routerLink="chipFormControl" routerLinkActive="active">Chips Form Control</a></li>
                        <li><a class="dropdown-item" routerLink="chipInput" routerLinkActive="active">Chips nput</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Data Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="dateRange" routerLinkActive="active">Date Range</a></li>
                        <li><a class="dropdown-item" routerLink="dateRangeCustome" routerLinkActive="active">Date Range Custome</a></li>
                        <li><a class="dropdown-item" routerLink="dateCustomeHeader" routerLinkActive="active">Date Custome Header</a></li>
                        <li><a class="dropdown-item" routerLink="datePickerOpen" routerLinkActive="active">Date Picker Open</a></li>
                        <li><a class="dropdown-item" routerLink="dateCustomeClasses" routerLinkActive="active">Date Custome Classess</a></li>
                        <li><a class="dropdown-item" routerLink="dateInputChangeEvent" routerLinkActive="active">Date Input Change Event</a></li>
                        <li><a class="dropdown-item" routerLink="dateFIlterValidation" routerLinkActive="active">Date FIlter Cgange</a></li>
                        <li><a class="dropdown-item" routerLink="datecustomformats" routerLinkActive="active">Date Custome Formats</a></li>
                        <li><a class="dropdown-item" routerLink="datedifferentlocal" routerLinkActive="active">Date Different Local</a></li>
                        <li><a class="dropdown-item" routerLink="datemomentjs" routerLinkActive="active">Date Moment js</a></li>
                        <li><a class="dropdown-item" routerLink="datestart" routerLinkActive="active">Date Start</a></li>
                        <li><a class="dropdown-item" routerLink="dateyearmonth" routerLinkActive="active">Date Emulating Year and Month</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dialog Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="dialoganimation" routerLinkActive="active">Dialog Animations</a></li>
                        <li><a class="dropdown-item" routerLink="dialogcontent" routerLinkActive="active">Dialog with content</a></li>
                        <li><a class="dropdown-item" routerLink="dialogdialogcontent" routerLinkActive="active">Dialog Injecting data</a></li>
                        <li><a class="dropdown-item" routerLink="dialogelements" routerLinkActive="active">Dialog Injecting data</a></li>
                        <li><a class="dropdown-item" routerLink="dialogmenu" routerLinkActive="active">Dialog Menu</a></li>
                        <li><a class="dropdown-item" routerLink="dialogoverview" routerLinkActive="active">Dialog Overview</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="divider" routerLinkActive="active">Divider</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Expansion Example
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="expansiontoggle" routerLinkActive="active">Expaand Toggles</a></li>
                        <li><a class="dropdown-item" routerLink="basicexpansion" routerLinkActive="active">Basic Expaand</a></li>
                        <li><a class="dropdown-item" routerLink="accordionPanel" routerLinkActive="active">Accordion Panel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- 
<div class="container mt-3 h-100">
    <mat-drawer-container class="h-100" autosize>
        <mat-drawer #drawer class="" mode="side"> -->
<!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
<!-- </mat-drawer>

        <div class="">
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div> -->

<!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" >Action</a></li>
      <li><a class="dropdown-item" >Another action</a></li>
      <li><a class="dropdown-item" >Something else here</a></li>
    </ul>
  </li> -->