<div class="container">
    <h3 class="mt-3">Single selection</h3>
    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle value="red">Red</mat-button-toggle>
        <mat-button-toggle value="green">Green</mat-button-toggle>
        <mat-button-toggle value="blue">Blue</mat-button-toggle>
    </mat-button-toggle-group>

    <h3 class="mt-3">Multiple selection</h3>
    <mat-button-toggle-group name="favoriteColor" aria-label="Ingredients" multiple="">
        <mat-button-toggle value="red">Red</mat-button-toggle>
        <mat-button-toggle value="green">Green</mat-button-toggle>
        <mat-button-toggle value="blue">Blue</mat-button-toggle>
    </mat-button-toggle-group>
</div>
