<div class="container mt-3 example-form">
    <h1>Filter AutoComplete</h1>
    <form action="" class="mt-3">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number Filter</mat-label>
            <input type="text" placeholder="Enter number" aria-label="Number"matInput [formControl]='myControl' [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOption | async" [value]="option">{{option}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>