<div class="container mt-3">
    <!-- Basic -->
    <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled="">Disabled</button>
            <a mat-button href="https://www.youtube.com/watch?v=MELLnA3azNk" target="_blank">Link</a>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- Raised -->
    <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled="">Disabled</button>
            <a mat-raised-button href="https://www.youtube.com/watch?v=MELLnA3azNk" target="_blank">Link</a>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- Stroked -->
    <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled="">Disabled</button>
            <a mat-stroked-button href="https://www.youtube.com/watch?v=MELLnA3azNk" target="_blank">Link</a>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- Flat -->
    <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
            <button mat-flat-button>Basic</button>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Accent</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled="">Disabled</button>
            <a mat-flat-button href="https://www.youtube.com/watch?v=MELLnA3azNk" target="_blank">Link</a>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- Icon -->
    <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
            <div class="example-flex-container">
                <button mat-icon-button aria-label="Example icon button with vertical three dots"><mat-icon>more_vert</mat-icon></button>
                <button mat-icon-button color="primary" aria-label="Example icon button with home icon"><mat-icon>home</mat-icon></button>
                <button mat-icon-button color="accent" aria-label="Example icon button with menu icon"><mat-icon>menu</mat-icon></button>
                <button mat-icon-button color="warn" aria-label="Example icon button with favorite icon"><mat-icon>favorite</mat-icon></button>
                <button mat-icon-button disabled aria-label="Example icon button with a open new tab icon"><mat-icon>open_in_new</mat-icon></button>
            </div>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- FAB -->
    <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" aria-label="Example icon button with delete icon"><mat-icon>delete</mat-icon></button>
                    <button mat-fab color="accent" aria-label="Example icon button with bookmark icon"><mat-icon>bookmark</mat-icon></button>
                    <button mat-fab color="warn" aria-label="Example icon button with home icon"><mat-icon>home</mat-icon></button>
                    <button mat-fab disabled aria-label="Example icon button with favorite icon"><mat-icon>favorite</mat-icon></button>
                </div>
            </div>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
    <!-- Mini FAB -->
    <section>
        <div class="example-label">Mini FAB</div>
        <div class="example-button-row">
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with menu icon"><mat-icon>menu</mat-icon></button>
                    <button mat-mini-fab color="accent" aria-label="Example icon button with plus one icon"><mat-icon>plus_one</mat-icon></button>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with filter list icon"><mat-icon>filter list</mat-icon></button>
                    <button mat-mini-fab disabled aria-label="Example icon button with home icon"><mat-icon>home</mat-icon></button>
                </div>
            </div>
        </div>
    </section>
    <mat-divider class="mt-3"></mat-divider>
</div>