<div class="container mt-3">
    <!-- List Selection -->
    <h3>List Selection</h3>
    <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typeOfShoes">{{shoe}}</mat-list-option>
    </mat-selection-list>

    <p>
        Opton Slelected value is : {{shoes.selectedOptions.selected.length}}
    </p>

    <!-- List selection single -->
    <h3 class="mt-3">List Selection Single</h3>
    <mat-selection-list #cloth [multiple]="false">
        <mat-list-option *ngFor="let cloth of typeOfCloths" [value]="cloth">
          {{cloth}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Option selected: {{cloth.selectedOptions.hasValue() ? cloth.selectedOptions.selected[0].value : 'None'}}
      </p>

</div>